include README.rst
include CHANGES.rst
include setup.cfg
include LICENSE.rst
include pyproject.toml

recursive-include src/trackstream *
recursive-include docs *
recursive-include licenses *

prune docs/_build
prune docs/api
prune docs/papers_and_presentations

global-exclude *.pyc
