# -*- coding: utf-8 -*-

### Preprocessing

## Whether to use ``lmfit`` (if it is installed)
# use_lmfit = False


## Whether to use ``MiniSOM`` (if it is installed)
# use_minisom = False


### Processing

## Whether to use ``FilterPy`` (if it is installed)
# use_filterpy = False