# git-ignore file
# split into default python and project-specific sections

###############################################################################


# WIKI
# it does its own thing
wiki/*

# KEEP
!conf.py
!index.rst
!thesis/index.rst

###############################################################################
# Default
